* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    width: 80%;
    margin: auto;
    border: 1px solid red;
}

.container {
    border: 1px solid blue;
    width: 80%;
    margin: auto;
}

.content {
    width: 70%;
}

.slide {
    width: 100%;
    height: 50px;
}